/methods_overi/build/
/ax+bx+c=0/nbproject/private/
/ax+bx+c=0/build/
/Triangle/nbproject/private/
/Triangle/build/
/java 1+3+5+....+n/nbproject/private/
/java 1+3+5+....+n/build/
/prime_numbers/nbproject/private/
/prime_numbers/build/
/methods_overriden/nbproject/private/
/methods_overriden/build/
/switch/nbproject/private/
/switch/dist/
/switch/build/
/single_inheritance/nbproject/private/
/single_inheritance/build/
/ConstructorMethods/nbproject/private/
/ConstructorMethods/build/
/java_array/nbproject/private/
/java_array/build/
/java_Thread/nbproject/private/
/java_Thread/build/
/single_thread/nbproject/private/
/single_thread/build/
/primeNumbers/nbproject/private/
/primeNumbers/build/
/logical_operator/nbproject/private/
/logical_operator/build/