/methods_overi/build/
/ax+bx+c=0/nbproject/private/
/ax+bx+c=0/build/
/Triangle/nbproject/private/
/Triangle/build/
/java 1+3+5+....+n/nbproject/private/
/java 1+3+5+....+n/build/
/prime_numbers/nbproject/private/
/prime_numbers/build/